In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:\\insurance.csv")

In [3]:
data

      index  age     sex     bmi  children smoker     region      charges
0         0   19  female  27.900         0    yes  southwest  16884.92400
1         1   18    male  33.770         1     no  southeast   1725.55230
2         2   28    male  33.000         3     no  southeast   4449.46200
3         3   33    male  22.705         0     no  northwest  21984.47061
4         4   32    male  28.880         0     no  northwest   3866.85520
...     ...  ...     ...     ...       ...    ...        ...          ...
1333   1333   50    male  30.970         3     no  northwest  10600.54830
1334   1334   18  female  31.920         0     no  northeast   2205.98080
1335   1335   18  female  36.850         0     no  southeast   1629.83350
1336   1336   21  female  25.800         0     no  southwest   2007.94500
1337   1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 8 columns]

In [4]:
data.columns

Index(['index', 'age', 'sex', 'bmi', 'children', 'smoker', 'region',
       'charges'],
      dtype='object')

In [5]:
data['bmi1']=data['sex'].str.replace('female','f')
data['bmi1']=data['bmi1'].str.replace('male','m')

In [6]:
data['bmi1']

0       f
1       m
2       m
3       m
4       m
       ..
1333    m
1334    f
1335    f
1336    f
1337    f
Name: bmi1, Length: 1338, dtype: object

In [7]:
data.dtypes

index         int64
age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
bmi1         object
dtype: object

In [8]:
data['bmi'].dtypes

dtype('float64')

In [15]:
data['bmi']=data['bmi'].astype(str)

In [16]:
data['bmi'].dtypes

dtype('O')

In [19]:
data['bmi']=data['bmi'].str.replace('','5')

In [20]:
data['bmi']

0          5.9
1        33.77
2         33.0
3       22.705
4        28.88
         ...
1333     30.97
1334     31.92
1335     36.85
1336      25.8
1337     29.07
Name: bmi, Length: 1338, dtype: object